{
  "presets": [
    ["react-app"],
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 7"],
          "chrome": "58"
        },
        "modules": false,
        "useBuiltIns": true,
        "debug": true
      }
    ]
  ],
  "plugins": ["transform-class-properties"]
}
