{
  "presets": ["react-app", "es2015", "stage-1"],
  "plugins": [
    [
      "react-css-modules",
      {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        },
        "handleMissingStyleName": "warn",
        "generateScopedName": "[local]___[hash:base64:10]"
      }
    ],
    ["transform-decorators-legacy"]
  ]
}
