@font-face {
  font-family: "iconfont"; /* project id 899757 */
  src: url("//at.alicdn.com/t/font_899757_r0vnw09e7lr.eot");
  src: url("//at.alicdn.com/t/font_899757_r0vnw09e7lr.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_899757_r0vnw09e7lr.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_899757_r0vnw09e7lr.woff") format("woff"),
    url("//at.alicdn.com/t/font_899757_r0vnw09e7lr.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_899757_r0vnw09e7lr.svg#iconfont") format("svg");
}
